<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">

<head>
    <title>Список клиентов</title>
</head>

<body>

<div id="container">
    <h2>Client Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Адрес</th>
                <th>Номер телефона</th>
            </tr>
        </thead>
        <tbody>
            <#list clients as client>
                <tr>
                    <td>${client.name}</td>
                    <td>${client.address.street}</td>
                    <td>
                        <#list client.phones as phone>
                            ${phone.number}
                        </#list>
                    </td>
                </tr>
            </#list>
        </tbody>
    </table>
</div>
</body>
</html>
