<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Добавить клиента</title>
</head>

<body>


<h4>Добавить клиента</h4>

<form method="post" action="">

    <label for="name">Client Name</label>
    <input text="text" required placeholder="name" name="newName" id="name"><br><br>

    <label for="street">Client Street</label>
    <input text="text" placeholder="street" name="street" id="street"><br><br>

    <label>Client Phone</label>
    <input text="text" placeholder="phone" name="phone"><br><br>
    <input text="text" placeholder="phone" name="phone"><br><br>
    <input text="text" placeholder="phone" name="phone"><br><br>
    <input text="text" placeholder="phone" name="phone"><br><br>

    <input class="button" type="submit" value="Save Client">

</form>

</body>
</html>
